<!-- <footer class="footer">
  <div class="container">
    <div class="row row-grid align-items-center mb-5">
      <div class="col-lg-6">
        <h3 class="text-primary font-weight-light mb-2">
          Thank you for supporting us!
        </h3>
        <h4 class="mb-0 font-weight-light">
          Let's get in touch on any of these platforms.
        </h4>
      </div>
      <div class="col-lg-6 text-lg-center btn-wrapper">
        <button
          class="btn btn-icon-only btn-twitter rounded-circle mr-3"
          href="https://twitter.com/creativetim"
          target="_blank"
        >
          <span class="btn-inner--icon">
            <i class="fa fa-twitter"> </i>
          </span>
        </button>
        <button
          class="btn-icon-only rounded-circle btn btn-facebook mr-3"
          href="https://www.facebook.com/CreativeTim/"
          target="_blank"
        >
          <span class="btn-inner--icon">
            <i class="fab fa-facebook"> </i>
          </span>
        </button>
        <button
          class="btn btn-icon-only btn-dribbble rounded-circle mr-3"
          href="https://dribbble.com/creativetim"
          target="_blank"
        >
          <span class="btn-inner--icon">
            <i class="fa fa-dribbble"> </i>
          </span>
        </button>
        <button
          class="btn btn-icon-only btn-github rounded-circle"
          href="https://github.com/creativetimofficial"
          target="_blank"
        >
          <span class="btn-inner--icon"> <i class="fa fa-github"> </i> </span>
        </button>
      </div>
    </div>
    <hr />

    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          © {{ date | date: "yyyy" }}
          <a href="" target="_blank"> Creative Tim </a> .
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <a class="nav-link" href="" target="_blank"> Creative Tim </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" target="_blank"> About Us </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="https://blog.creative-tim.com/"
              target="_blank"
            >
              Blog
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="" target="_blank"> License </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer> -->

<footer class="footer footer-simple bg-gradient-default">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a class="footer-brand" href="javascript:;">
          E-Cell IIT Bombay
        </a>
      </div>
      <div class="col-md-6">
        <div class="column">
          <ul class="inline-menu text-center">
            <li>
              <a class="nav-link" href="javascript:;">
                E-Summit
              </a>
            </li>
            <li>
              <a class="nav-link" href="javascript:;">
                Eureka
              </a>
            </li>
            <li>
              <a class="nav-link" href="javascript:;">
                NEC
              </a>
            </li>
            <li>
              <a class="nav-link" href="javascript:;">
                EnSpace
              </a>
            </li>
            <li>
              <a class="nav-link" href="javascript:;"> SSP </a>
            </li>
            <li>
              <a class="nav-link" href="javascript:;">
                EnB
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <ul class="social-buttons pull-right">
          <li>
            <a class="btn btn-icon btn-twitter btn-sm mr-1" href="https://twitter.com/CreativeTim" target="_blank">
              <i class="fab fa-twitter"> </i>
            </a>
          </li>
          <li>
            <a class="btn btn-icon btn-facebook btn-sm mr-1" href="https://www.facebook.com/CreativeTim"
              target="_blank">
              <i class="fab fa-facebook-square"> </i>
            </a>
          </li>
          <li>
            <a class="btn btn-icon btn-instagram btn-sm mr-1" href="https://www.instagram.com/CreativeTimOfficial"
              target="_blank">
              <i class="fab fa-instagram"> </i>
            </a>
          </li>
          <li>
            <a class="btn btn-icon btn-linkedin btn-sm mr-1" href="https://www.instagram.com/CreativeTimOfficial"
              target="_blank">
              <i class="fab fa-linkedin"> </i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>