.contactus-1 {
  padding-top: 25vh;
  padding-bottom: 17.8vh;
}

.btn-col {
  background: transparent;
}

.card-header{
  padding: 0.8rem 1.5rem;
  border-radius: 0.75rem 0.75rem 0rem 0rem;
  color: white !important;
  background-color: #1B4965;
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.993);
}
.card-body{
  padding: 1rem 1.5rem;
}
.card{
  border-radius: 0.75rem;
  color: white;
  background-color: #1B4965;
}