<div class="wrapper" style="width: 100vw;">
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="javascript:;" style="font-size: 20px">
          NEC
        </a>
        <button
          aria-controls="navbarSupportedContent"
          aria-label="Toggle navigation"
          class="navbar-toggler"
          [attr.aria-expanded]="!isCollapsed"
          (click)="isCollapsed = !isCollapsed"
          id="example-header-2"
          type="button"
        >
          <span class="navbar-toggler-icon"> </span>
        </button>
      </div>
      <div
        class="navbar-collapse"
        [isAnimated]="true"
        [collapse]="isCollapsed"
        id="example-header-2"
      >
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a style="font-size: 20px"> NEC </a>
            </div>
            <div class="col-6 collapse-close text-right">
              <button
                aria-controls="navigation-index"
                aria-label="Toggle navigation"
                class="navbar-toggler"
                [attr.aria-expanded]="!isCollapsed"
                (click)="isCollapsed = !isCollapsed"
                id="example-header-2"
                type="button"
              >
                <span> </span> <span> </span>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav mx-auto">
          <!-- <li class="nav-item">
                  <a class="nav-link" href="javascript:;"> Home </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="javascript:;"> About Us </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="javascript:;"> Products </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="javascript:;"> Contact Us </a>
                </li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link btn btn-round btn-col" href="landing">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-round btn-col" href="sponsors">
              Sponsors
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-round btn-col" href="login">
              Login
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-round btn-col" href="register">
              Register
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="page-header">
      <div class="page-header-image" style="background: url(./assets/Landing.jpg);"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto text-center">
            <h2 class="display-2 text-white">NEC logo</h2>
          </div>
        </div>
    </div>
  </div>


  <div class="infonec">
    <div class="about">
      <h3 class="display-3 text-left" style="font-family: 'Roboto', sans-serif; font-size: 2.5rem;">What is <br> NEC?</h3>
      <p style="font-family: 'Roboto', sans-serif; font-size: 1.4rem; font-weight: 400;">Entrepreneurship Cell is essential for any college because it develops students’ entrepreneurial spirit, which we believe is instrumental for our country to develop. NEC is the platform that helps colleges to build an actively functioning E-Cell. It’s a 6 month-long competition where we guide students by giving them tasks that are essential for any Entrepreneurship cell to work smoothly.</p>
    </div>
    <div class="vision">
      <h3 class="display-3 text-left" style="font-family: 'Roboto', sans-serif; font-size: 2.5rem;">Vision</h3>
      <p style="font-family: 'Roboto', sans-serif; font-size: 1.4rem; font-weight: 400;">Entrepreneurship Cell is essential for any college because it develops students’ entrepreneurial spirit, which we believe is instrumental for our country to develop. NEC is the platform that helps colleges to build an actively functioning E-Cell. It’s a 6 month-long competition where we guide students by giving them tasks that are essential for any Entrepreneurship cell to work smoothly.</p>
    </div>
  </div>

  <h3 class="display-3" style="text-align: center; font-weight: 600; font-family: 'Roboto', sans-serif;">Tracks</h3>
  <div class="tracks">
    <div class="basictrack">
      <h4 style="font-family: 'Roboto', sans-serif;">Basic Track</h4>
      <p>Content</p>
      <a href="basic">
        <!-- <ion-icon name="arrow-forward-outline" class="icon-arrow before"></ion-icon> -->
        <button>Learn More</button>
        <!-- <ion-icon name="arrow-forward-outline" class="icon-arrow after"></ion-icon> -->
      </a>
    </div>
    <div class="advancetrack">
      <h4 style="font-family: 'Roboto', sans-serif;">Advance Track</h4>
      <p>Content</p>
      <a href="advance">
        <!-- <ion-icon name="arrow-forward-outline" class="icon-arrow before"></ion-icon> -->
        <button>Learn More</button>
        <!-- <ion-icon name="arrow-forward-outline" class="icon-arrow after"></ion-icon> -->
      </a>
    </div>
  </div>

  <section class="body1" >
    <h3 class="display-3" style="text-align: center; font-weight: 600; font-family: 'Roboto', sans-serif;">Timeline</h3>
    <div class="timeline1">
      <div class="container1 left1">
        <div class="content1">
          <h2>2017</h2>
          <p>Launch Day
            Preliminary Task
            Boss Task
            Comprehensive Task
            Launch.</p>
        </div>
      </div>
      <div class="container1 right1">
        <div class="content1">
          <h2>2016</h2>
          <p>Registration Deadline</p>
        </div>
      </div>
      <div class="container1 left1">
        <div class="content1">
          <h2>2015</h2>
          <p>Preliminary Task</p>
        </div>
      </div>
      <div class="container1 right1">
        <div class="content1">
          <h2>2012</h2>
          <p>Semifinalist Result & Stage 1 Launch</p>
        </div>
      </div>
      <div class="container1 left1">
        <div class="content1">
          <h2>2011</h2>
          <p>Bonus Checkpoint 1</p>
        </div>
      </div>
      <div class="container1 right1">
        <div class="content1">
          <h2>2007</h2>
          <p>Leaderboard 1<br>Update</p>
        </div>
      </div>
      <div class="container1 left1">
        <div class="content1">
          <h2>2011</h2>
          <p>Stage 2 Launch</p>
        </div>
      </div>
      <div class="container1 right1">
        <div class="content1">
          <h2>2007</h2>
          <p>Bonus Checkpoint 2</p>
        </div>
      </div>
    </div>
    
</section>
<br>
  <hr style="border: 2px solid; width: 80%;" class="mx-auto">
  <!-- <h3 class="display-3" style="text-align: center;">Our Achievements</h3> -->
  <div class="numinfo">
    <div class="cells">
      <li><div class="circle my-auto"><i class="far fa-building "></i></div></li>
      <li class="numcount">{{cellscount}}+</li>
      <li>E-Cells Established</li>
    </div>
    <div class="basteams">
      <li><div class="circle"><i class="fas fa-users "></i></div></li>
      <li class="numcount">{{basiccount}}+</li>
      <li>Basic Teams</li>
    </div>
    <div class="advteams">
      <li><div class="circle"><i class="fas fa-users-cog "></i></div></li>
      <li class="numcount">{{advancedcount}}+</li>
      <li>Advanced Teams</li>
    </div>
    <div class="cities">
      <li><div class="circle"><i class="fas fa-city "></i></div></li>
      <li class="numcount">{{citycount}}+</li>
      <li>Cities Reached</li>
    </div>
  </div>
  <br>
  <hr style="border: 2px solid; width: 80%;" class="mx-auto">

  <script>
    $(document).ready(function(){
        $(".cells").counterUp({
          delay: 10,
          time: 1200
        });
    });
  </script>


  
  <div class="cd-section" id="blogs">
    <section class="blogs-1" style="padding: 0px;">
      <div class="container">
        <h3 class="display-3 text-center"  style="font-family: 'Roboto', sans-serif;   font-size: 3.1875rem;">Why Register for NEC ?</h3>
        <div class="row align-items-center justify-content-center col-md-12 mx-auto" style="justify-content: center;">

          <div class="col-lg-3">
            <div class="card card-blog card-background" data-animation="zooming">
              <div class="full-background" style="background-image: url('assets/img/theme/josh-appel.jpg')"></div>
              <a href="javascript:;">
                <div class="card-body">
                  <div class="content-bottom">
                  </div>
                </div>
              </a>
            </div>
            <h4 class="card-title" style="text-align: center; font-weight: 600;">Touch on a trend</h4>
            <p class="card-description" style="text-align: center;FONT-WEIGHT: 600; font-size: 1.3rem;">Touch on a trend</p>
          </div>

        </div> 

      </div>
    </section>
  </div>
  <br>
  <hr style="border: 2px solid; width: 80%; padding-bottom: 0px;" class="mx-auto">

  <div class="cd-section" id="contact-us">
    <div class="contactus-1 bg-default" style="padding: 40px 0px; background-color: white !important;">
      <div class="container">
        <div class="text-center" style="padding-bottom:30px">
          <h3 class="display-3 text-center">Contact Us</h3>
        </div>
        <div class="row" style="justify-content: center;">
          <div class="col-lg-4 col-md-6">
            <img src="">
            <h5>Name</h5>
            <p>Designation</p>
            <p class="contact_details">@ecell.in</p>
          </div>
          <div class="col-lg-4 col-md-6">
            <img src="">
            <h5>Name</h5>
            <p>Designation</p>
            <p class="contact_details">@ecell.in</p>
          </div>       
        
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer footer-simple bg-gradient-default">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a class="footer-brand" href="javascript:;">
          E-Cell IIT Bombay
        </a>
      </div>
      <div class="col-md-6">
        <div class="column">
          <ul class="inline-menu text-center">
            <li>
              <a class="nav-link" href="javascript:;">
                E-Summit
              </a>
            </li>
            <li>
              <a class="nav-link" href="javascript:;">
                Eureka
              </a>
            </li>
            <li>
              <a class="nav-link" href="javascript:;">
                NEC
              </a>
            </li>
            <li>
              <a class="nav-link" href="javascript:;">
                EnSpace
              </a>
            </li>
            <li>
              <a class="nav-link" href="javascript:;"> SSP </a>
            </li>
            <li>
              <a class="nav-link" href="javascript:;">
                EnB
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <ul class="social-buttons pull-right">
          <li>
            <a class="btn btn-icon btn-twitter btn-sm mr-1" href="https://twitter.com/CreativeTim" target="_blank">
              <i class="fab fa-twitter"> </i>
            </a>
          </li>
          <li>
            <a class="btn btn-icon btn-facebook btn-sm mr-1" href="https://www.facebook.com/CreativeTim"
              target="_blank">
              <i class="fab fa-facebook-square"> </i>
            </a>
          </li>
          <li>
            <a class="btn btn-icon btn-instagram btn-sm mr-1" href="https://www.instagram.com/CreativeTimOfficial"
              target="_blank">
              <i class="fab fa-instagram"> </i>
            </a>
          </li>
          <li>
            <a class="btn btn-icon btn-linkedin btn-sm mr-1" href="https://www.instagram.com/CreativeTimOfficial"
              target="_blank">
              <i class="fab fa-linkedin"> </i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>